core/main/default/flows/FLOW001_CloneCalloutTrackerEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Clone CalloutTracker__e into CalloutTrackerExt__c</description>
        <name>CloneCalloutTrackerEvent</name>
        <label>Clone Callout Tracker Event</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Endpoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Endpoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Headers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Headers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.HttpMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HttpMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EventUuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.QueryParameters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QueryParameters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Response__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.ServiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.StatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StatusCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Timeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Timeout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.TransactionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TransactionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalloutTrackerExt.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Username__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Callout_Tracker_Ext</targetReference>
        </connector>
    </assignments>
    <description>Clone CalloutTracker__e into CalloutTrackerExt__c</description>
    <interviewLabel>FLOW001_CloneCalloutTrackerEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW001_CloneCalloutTrackerEvent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a clone record of CalloutTracker__e into CalloutTrackerExt__c</description>
        <name>Create_Callout_Tracker_Ext</name>
        <label>Create Callout Tracker Ext</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <inputReference>CalloutTrackerExt</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloneCalloutTrackerEvent</targetReference>
        </connector>
        <object>CalloutTracker__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CalloutTrackerExt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CalloutTrackerExt__c</objectType>
    </variables>
</Flow>
